[Unit]
Description=BotCopier Model Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/BotCopier
ExecStart=/usr/bin/env botcopier-serve-model --host 0.0.0.0 --port 8000 --metrics-port 8004
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
